<h3 class = "links"><a href='/authors'>Authors</a></h3>
<h3 class = "links"><a href='/books'>Books</a></h3>

<form action="/books" method="post">
  <label for="fn">First Name</label>
  <input type="text" name="title" value=""><br><br>
  <label for="ln">Last Name</label>
  <input type="text" name="genre" value=""><br><br>
  <label for="pu">Portrait URL</label>
  <input type="text" name="cover" value=""><br><br>
  <label for="Description">Biography</label>
  <textarea name="name" rows="8" cols="40"></textarea><br><br>
  <label for="books">Books</label>
  <textarea name="name" rows="4" cols="40"></textarea>
</form>
