<div class="container">

  <div class="column">
    <div class="col-sm-8 col-md-5">
      <div class="thumbnail">
        <img src="http://s29.postimg.org/nyc93181j/Screen_Shot_2016_04_07_at_5_37_41_PM.png" class = "picz">
        <div class="caption">
          <h3><a href='/authors'>Authors</a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="col-sm-8 col-md-5">
      <div class="thumbnail">
        <img src="http://s24.postimg.org/c319ske1h/Screen_Shot_2016_04_07_at_5_37_59_PM.png" class = "picz">
        <div class="caption">
            <h3><a href='/books'>Books</a></h3>
        </div>
      </div>
    </div>
  </div>

</div>
