<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>
  <body>
    <a href="/"><img src="http://s29.postimg.org/c0a85rncj/Screen_Shot_2016_04_07_at_5_01_54_PM.png" class = "gLogo"/></a>
    <h1 class = "home">Galvanize Reads</h1><br>
    {{{body}}}

  </body>
</html>
