body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.gLogo {
  float: left;
  padding: 10px;
}

h1 {
  float: left;
  font-size: 35px;
}

.container {
  border: 1px solid black;
  float: left;
}

.picz {
  max-width: 40%;
  max-height: 80%;
}
